<h2 class="profile-header">My Profile</h2>
<div class="my-container">
<div class='block-info block'>
	<h4 class='block-header'>
	INFO
	</h4>

	<img src="/assets/lv.jpg" class='img-thumbnail info-block-img' alt='avatar'>
	<div class="info-block-details">
		<p>Name: <%= @the_user.first_name %></p>

		<p>From: <%= @the_user.hometown %></p>
		<p>Presently: Seeno </p>
	</div>

	</div>

<div class='block-activities block'>
	<h4 class='block-header'>
	ACTIVITIES
	</h4>
</div>
</div>