<div class="home-top">
<div class='home-main'>
<p>Chitchat in your mother language</p>
<%= link_to "Sign Up", new_user_registration_path %>
</div>
</div>
<div class="home-info">
	<div class="home-events">
		<p class="garchig">Events</p>
		<p class='info'>A detailed description of events and ceremonies of your culture around your new location</p>
	</div>
	<div class="home-guide">
		<p class="garchig">Guide</p>
		<p class="info">Easily connect to guiders from your native land who are willing to show you around the new city you just moved to</p>
	</div>
	<div class="home-town">
		<p class="garchig">Town Map</p>
		<p class="info">A map that will show you neighborhoods where your culture is growing and your fellow countrymen are accumulating</p>
	</div>
</div>
