/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 75px 0 0 0;
	background-color: #eff2f6;
}
.top {
	position: fixed;
	margin: 0;
    padding: 0;
    background-color: #b8c6cb;
    width: 100%;
    top: 0;
    left: 0;
    height: 66px;
    z-index: 10;
    box-shadow: 1px 1px 6px #474451;
}

.top-signed-in {
    height: 40px;

}

.top-signed-in img {
	margin-top: 0;
}


.topbar {
	display: inline-block;
	margin-left: 9px;
}

img {
	margin-top: 17px;
	width: 240px;
	height: 63px;
}

.navbar	{
	position: fixed;
	right:16px;
}

.logged-out {
	top: 18px;
}

.logged-in {
	top: 7px;
}

footer {
	background-color: #2f4f4f;
	text-align: center;
	vertical-align: middle;
	height: 150px;
	margin-top: 100px;
	padding-top: 50px;
    width:100%;
}

html, body {
    height:100%;
}
.block {
	border: 1px solid #62bfed;
	border-radius: 6px;
	background-color: #fdfdfe;
	padding: 12px;
}

.my-container {
	position: static;
	height: 100%;
	width: 100%;
}