// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-block-img {
	
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
}

.info-block-details {
	display: inline-block;
}

.block-info {
	position: absolute;
	left: 5%;
	display: inline-block;
	width: 35%;
	

}



.block-activities {
	display: inline-block;
	position: absolute;
	right: 7%;
}


.block-header {
	font-size: 25px;
}