// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-block-img {
	
	margin-top: 0;
	margin-bottom: 10px;
	min-width: 200px;
	
}

.info-block-details {
}

.block-info {
	position: relative;
	left: 3%;
	display: inline-block;
	min-width: 370px;
	

}



.block-activities {
	position: relative;
	width: 50%;
	min-width: 300px;
	left: 3%;

}


.block-header {
	font-size: 25px;
}