// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.infowindow-div{
	min-width: 90px;
	max-height: 250px;
	margin-bottom: 6px;
}

.infowindow-avatar {
	display: inline-block;
	width: 25px;
	vertical-align:top;
}

.infowindow-namenumber {
	display: inline-block;
	vertical-align:top;
}

.block-town {
	position: relative;
	left: 3%;

	width: 67%;
}

.block {
	margin-top: 16px;
	border: 1px solid #62bfed;
	border-radius: 6px;
	background-color: #fdfdfe;
	padding: 12px;
}

.my-container-events {
	height: 100%;
	width: 100%;
}

#map {
        height: 400px;
        width: 65%;
        min-width: 330px;
       }
.home-top {
	margin-top: -10px;
	background-image:url("city.jpg");
	background-size: cover;
	text-align: center;
	background-position: center;
	position: relative;
	height: 640px;

}

.home-main {
	position: relative;
  top: 30%;
  right: 25%;

}

.home-main a {
	margin-top: 14px;
    width: 200px;

}
.home-main p {
	color: #fefefe;
      font-size: 22px;
      font-weight: lighter;
      font-family: 'Work Sans', sans-serif;
 }



.home-mainbar {
	position: relative;
	left: 3%;
}

.home-events, .home-town{
	display:inline-block;

}

.home-town{
	background-color: #5eb1bf;
}

.card {
	display: inline-block;
	height: 250px;
	width: 200px;
	margin:24px;
	padding-top: 25px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #fb8b24;
	vertical-align: middle;

}




.home-info {
	margin-top: 100px;
	text-align: center;

}

.sponsored-event{
	text-align: center;
	display: inline-block;
}

.sponsored-event-photo {
	width: 250px;
	height: 250px;
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

